@charset "utf-8";

body { background: linear-gradient(to right, #002762, #005693);}
header .left { float: left; padding: 43px 0 0 78px;}
header a { color:#fff;}
header h1 { float: left; padding: 0 108px 0 0;}
header h1 a { display: block; width: 132px; height: 50px; background: url("../images/layout.png") no-repeat -170px -70px; color:transparent;}
header nav a { display: block; position: relative; height: 50px; line-height: 50px; font-size: 17px; font-weight: bold;}
header nav a:before { content: ""; position: absolute; left: 0; bottom: 13px; width: 0; height: 1px; background: #fff; transition: width 0.5s;}
header nav a:hover:before {width: 100%;}
header .close,
header .all,
header .left > div > div,
header h2 { display: none;}
header .left > div { float: left;}
header .left > div nav li { float: left; padding: 0 30px 0 0;}
header > ul { float: right; padding: 51px 40px 0 0;}
header > ul li { float: left; margin-left: -1px;}
header > ul li a { display: block; width: 96px; height: 38px; line-height: 38px; text-align: center; font-size: 11px; border:1px solid rgba(255,255,255,0.5); border-radius: 3px;}
header > ul li:first-child a{ border-radius:3px 0 0 3px; }
header > ul li:nth-last-of-type(2) a { border-radius: 0 3px 3px 0;}
header > ul li.join { padding: 0 0 0 10px;}
header > ul li.join a { background: rgba(255,255,255,0.2);}











