@charset "utf-8";
body { padding: 50px; box-sizing: border-box;}
.gallery { width: 980px;}
.gallery > li { float: left; padding: 0 40px 40px 0; width: 470px;}
.gallery > li:nth-child(2n) { padding-right: 0;}
.gallery li a { display: block; position: relative;}
.gallery li ul { padding: 30px 30px 20px; height: 81px; border:1px solid #ddd;}
.gallery li ul li { padding: 0 0 12px 15px; background: url("../images/bu_square.png") no-repeat 0 5px; font-size: 15px; color:#333; line-height: 100%;}
.gallery li a span { position: absolute; right: 29px; bottom: 79px; width: 81px; height: 28px; background: #00a0c6; font-size: 13px; color:#fff; line-height: 28px; text-align: center;}