@charset "utf-8";
body { padding: 0;}
.gallery { width: 100%;}
.gallery > li { float: left; padding: 0 22px 22px 0; width: 50%; box-sizing: border-box;}
.gallery > li img { width: 100%;}
.gallery > li:nth-child(2n) { padding-right: 22px;}
.gallery li ul { padding: 29px 8px 0; height: 119px;}
.gallery li ul li { padding: 0 0 8px 10px; background: url("../images/bu_square.png") no-repeat 0 3px / 4px auto; font-size: 12px;}
.gallery li a span { right: 8px; bottom:25px;}
